body{
    background-color: cornsilk;
}

.frame{
    margin: 0 auto;
    height: 350px;
    width: 320px;
    vertical-align: middle;
    border: 2px solid coral;
    text-align: center;
}

nav a {
    text-decoration: none;
}
nav ul {
    padding: 0;
}
nav li {
    list-style: none;
    text-decoration: none;
    font: 14px 'Oswald', sans-serif;
    padding: 7px;
}

.lable li {
    text-align: center;
    padding: 10px;
}

li.vhod{
    font-size: 20px;

}
input {
    width: 70%;
}

.auth li.social{
    list-style-position: inside;
    padding: 10px 30px;

}
ul .social_a li{
    width: 40%;
    display: inline-block;
    list-style-position: inside;
}
ul .link{
    top: 30%;
}


li .link a {
    display: inline-block;
    color: #b2b2b2;
}

.tooltip{
    position: fixed;
    background: crimson;
    border: 1px solid darkgreen;
    width:10%;
    heith: 20px;
}

.clients{
    margin: 0 auto;
    height: 500px;
    width: 320px;
    vertical-align: middle;
    border: 2px solid coral;
    text-align: center;
}

.clients a{
    text-decoration: none;
}
.clients ul{
    padding: 0;
}
.clients li{
    list-style: none;
    text-decoration: none;
    font: 14px 'Oswald', sans-serif;
    padding: 7px;
}

ul.lbName li {
    text-align: center;
    padding: 10px;
    display: inline-block;
    list-style-position: inside;
}
ul.button li{
    text-align: center;
    padding: 10px;
    display: inline-block;
    list-style-position: inside;
    width: 40%;
}
ul .button li{
    vertical-align: bottom;
    display: inline-block;
    list-style-position: inside;
}

.clients .client {
    margin: 0 auto;
    text-align: left;
    padding: 10px;
    background: #fff;
    vertical-align: middle;
    height: 60%;
    width: 80%;
    border: 1px solid black;
    overflow: auto;
}

.tictac {
    font-size: 30px;
    height: 60px;
    width: 60px;
}

.game {
    position: absolute;
    top: 25%;
    left: 45%;
}

.return input{
    height: 20px;
    width: 60px;
}